body {
  background-color: #19334d;
}
article {
  text-align: center;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  background-color: #19334d;
  color:white;
  padding: 20px;
}
h1 {
  font-size: 50px;
  color: orange;
}
img {
  width: 25%;
  height:300px;
  margin-left:5%;
}
img:hover {
  width: 28%;
  height: 400px;
}
 #container {
  display: inline-block;
  width: 100%;
  background-color: #19334d;
  margin: 30px 5px;
}
canvas {
  border: 1px solid black;
  width: 1000px;
  height: 1300px;
  margin : auto;
}

.hidenChart {
  display: none;
}
.showingChart {
  display: inline;
}

#ShowButton {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  margin: 15px 200px;
  cursor:pointer;
}
#ShowButton:hover {
  background-color: orange;
  color: black;
  transition: all 350ms;
}

#HideButton {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border:none;
  margin: 15px 200px;
  cursor:pointer;
}
#HideButton:hover {
  background-color: orange;
  color: black;
  transition: all 350ms;
}
